:root {
  --bg-color: #EFF4FA;
  --text-color:#1D293F;
  --card-color: #E0E8F5;
  --first:#45B1F8;
  --secound:#2643D1;
  --black:#1D293F;
  --one:#2643D1;
  --two:#45B1F8;
  --ph:url(imgs/BG-01.png);
}
.dark-mode {
  --bg-color: #1D293F;
  --text-color:#EFF4FA;
  --card-color: #1D293F;
  --first:#2643D1;
  --secound:#45B1F8;
    --one:#2643D1;
  --two:#45B1F8;
  --black:#1D293F;
  --ph:url(imgs/BG-02.png);
}













/* عرض الاسكرول */
::-webkit-scrollbar {
  width: 10px;
}

/* الخلفية */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* شكل الاسكرول نفسه */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--text-color));
  border-radius: 20px;
}

/* عند الوقوف عليه */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,var(--text-color));
}








.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.9s ease;
}


.reveal.active {
  opacity: 1;
  transform: translateY(0);
}






 #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background: var(--bg-color); /* ممكن تغير اللون */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


  /* GIF حجم مناسب */
  #loader img {
    width: 500px; /* أو أي حجم تحبه */
    height: 500px;
  }

  /* بعد تحميل الصفحة */
  .hidden {
    display: none;
  }














*{
     font-family: 'Sora', sans-serif;
    font-weight: 200; /* ExtraLight */
    
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}
html, body{
      scroll-behavior: smooth;
       font-family: 'Sora', sans-serif;
    overflow-x: hidden;
    background-color:var(--bg-color); 
}
.home{
  background-image: var(--ph);
  background-size: cover;      /* تملى الشاشة */
  background-position: center; /* في النص */
  background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.nav{
      position: sticky; /* خلي الـ nav ثابت */
  top: 0;           /* يبقى في أعلى الصفحة */
  background-color: rgba(255, 255, 255, 0); /* أو أي لون للخلفية عشان يظهر فوق المحتوى */
  z-index: 999;     /* يفضل يظهر فوق أي عنصر تاني */
  
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
    gap: 740px;
}

.nav img{
width: 200px;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 10px;
}
.nv a:hover,
.nv a.active { /* hover أو العنصر النشط */
  border-bottom: 2px solid var(--text-color);
}


.nv a{
    
    padding-bottom: 7px;
    font-family: 'Sora', sans-serif;
    font-weight: 200; /* ExtraLight */
  text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
    color:var(--text-color);
}
.nv a:hover{
    padding-bottom: 7px;
    border-bottom: 1px solid var(--text-color);

}





.lang{
    display: flex;
    width: 100%;

    

}
.lang ul{

    position: absolute;
    right: 83px;
    font-style: normal;
    list-style: none;
    display: flex;
    gap: 10px;
     padding-right: 10px;
    border-right: 1px solid var(--text-color);
}
.lang a{
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 100;

}


.ull{
  position: absolute;
  right: 99px;
  top: 380px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;

}
.ull .material-symbols-outlined{
    cursor: pointer;
      
      border-radius: 50%;
}
.ull #b1{font-size: 22px;
          color:var(--text-color);
      background-color: var(--text-color);
      border-bottom: 1px solid var(--text-color);
}
.ull .li{
    padding-bottom: 10px;  
    border-bottom: 1px solid var(--text-color);

}

.ull #b2{
    font-size: 25px;
          color:var(--text-color);
     font-weight: 100;
}




.text{
    margin-top: 185px;
    width: 100%;
    display: flex;
    flex-direction:column ;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.text p{
    font-size: 30px;
    word-spacing: .5px;
   font-family: 'Sora', sans-serif;
  font-weight: 100;   
  text-transform: uppercase;
  color: var(--text-color); 
}
.sp{
       font-family: 'Sora', sans-serif;
    display: flex;

}
.sp h1{
    color: var(--text-color);
       font-family: 'Sora', sans-serif;
    font-weight: 700;

}

svg {
    fill: var(--text-color); /* اللون الأساسي */
}




.text a{
    color: var(--text-color);
    text-decoration: none;
    cursor:pointer;
    font-size: 20px;
    font-weight: 300;

}




.bottom{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px;
}
.bottom p{
    color: var(--text-color);
    font-size: 12px;
}

.bottom img{
    width: 70px;
}


/* ///////////////////////////////////////////// */





.work{

    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 75px;
    margin-bottom: 
    100px;
}
.work .p1{
    color: var(--text-color);
    margin-top: 100px;
font-size: 30px;
font-weight: 600;
}
.imgs{margin-left: -37px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs img{
    margin-left: 5px;
    height: 500px;
    width: 363px;
}
.imgs .img div{
    display: flex;
    justify-content: space-between;
    margin: 10px;

}
.img div p{
    color: var(--text-color);
}

.img-box {
    display: flex;
  position: relative;
  width: 300px; /* عدل حسب الصورة */
}
.img-box img {
  width: 100%;
  display: block;

}
.img-box a{
text-decoration: none;

}

.img-box p {
    color: var(--black);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.img-box svg{
    fill: #1D293F;
position: absolute;
left: 180px;
top: 5px;
}









.marquee-track {
  display: flex;
  gap: px; /* المسافة بين الصور */
  animation: marqueeScroll 140s linear infinite;
  white-space: nowrap;
}

.imgs {
  overflow: hidden; /* نخفي الفائض */
  width: 100%;
}




.img {
  flex: 0 0 auto; /* يمنع تقلص الصورة */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 363px; /* نفس عرض الصور عندك */
  margin-left: 5px;
  transition: all 0.4s ease;
  opacity: 0.8;
}
.img div{
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: center;

}


.img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* Hover لإيقاف الحركة عند الوقوف على الشريط */
.imgs:hover .marquee-track {
  animation-play-state: paused;
}

/* الأنيميشن الرئيسي */
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(80%);
  }
}





/* Responsive */
@media (max-width: 768px) {
  .img {
    min-width: 250px;
  }
}





/* 

--------------------------------------------
 */


.aboute{
     font-family: 'Sora', sans-serif;
    margin-left: 75px;
    display: flex;
    gap: 200px;
    background-color: var(--bg-color);
}
.aboute .text{
 font-family: 'Sora', sans-serif;
    position: relative;
    bottom: 80px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;   
  text-transform: uppercase;
    width: 50%;
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.aboute p{
     font-family: 'Sora', sans-serif;
        font-size: 24px;
          font-family: 'Raleway', sans-serif;
  font-weight: 500;   
  text-transform: lowercase;

}


.hero p{font-family: 'Sora', sans-serif;}



.text2{
     font-family: 'Sora', sans-serif;

    display: flex;
    flex-direction: column;
    gap: 30px;

}
.text2 h1{
     font-family: 'Sora', sans-serif;
    position: relative;
    right: 102px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0;
    width: 350px;
color: var(--secound);}

.text2 .p2 span{
     font-family: 'Sora', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.text2 .p2{
     font-family: 'Sora', sans-serif;
    position: relative;
    right: 102px;
    width: 500px;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: .2px;
  word-spacing: .5px;
}


.text2 .p3{
     font-family: 'Sora', sans-serif;
    position: relative;
    right: 102px;
    width: 500px;
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
}




.abouteimg{
    position: absolute;
    left: 690px;
    
    width: 830px;
}




.text .hero {
    position: relative;
    right: 160px;
margin: 0;
padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.hero h1 {
  font-size: 25px;
  font-weight: 500;
  
  color: var(--text-color);
  margin-bottom: 7px;
}

.hero .highlight {
  color:var(--secound);
}

.hero .line {
display: block;
  width: 280px;
  height: 25px;
  background: linear-gradient(to right,var(--one) ,var(--two) , rgba(255, 255, 255, 0)  );
  margin-bottom: 16px;
}

.hero p {position: relative;
        width: 400px;
    bottom: 40px;
  font-size: 18px;
  left: 200px;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
}

.hero p .blu {
  color: var(--secound);
  font-weight: 500;
}

/* 
=-=-=--=-=-=----------------=-=-=
*/


.service{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.sir{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    gap:35px;
}
.sir div{
    width: 35%;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--text-color);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;

}
.service h1{
      font-family: 'Raleway', sans-serif;
  font-weight: 600;   
  text-transform: uppercase;
  color: var(--text-color); 
    margin-left: 88px;
    color: var(--text-color);

}
.sir div h2{
          font-family: 'Raleway', sans-serif;
          font-size: 18PX;
  font-weight: 600;   
  text-transform: uppercase;
  color: var(--text-color);
}

.sir div p{
    font-size: 16PX;
    font-family: 'Raleway', sans-serif;
  font-weight: 200;   
  text-transform: uppercase;
  color: var(--text-color);
    display: none;
    
}
.sir div h2{
    
    color: var(--text-color);
}
.sir .s a{

    color: var(--text-color);

}

.toggle{
    cursor: pointer;
}



.photo{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

/* ------------------------------------ */

.contact{
    height: 60vh;
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    gap: 130px;


}
.div1{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.contact p{
        font-family: 'Raleway', sans-serif;
  font-weight: 300;   
  text-transform: uppercase;
  color: var(--text-color);
    font-size: 14px;
    color: var(--text-color);

}

.contact h1{
    color: var(--text-color);

    font-family: 'Raleway', sans-serif;
  font-weight: 800;   
  text-transform: uppercase;
    font-size: 27px;
}


.div2{    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
 

}
.div22{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}


.contact img{
    width: 200px;

}

.div55 img{
    position: relative;
    top: 10px;
    width: 100px;
  display: block;

}

.div55 a{
    position: relative;
    top: 39px;
    
font-size: 20px;
font-weight: 100;
text-decoration: none;
color: var(--text-color);
}

.div55 p {
    color: var(--black);
    font-size: 20px;
    position: relative;
    left: 60px;
    z-index: 200;
    top: 60px;
    font-weight: 20px;
  transform: translate(-50%, -50%);
}




.div11 img{
    background-color:var(--card-color);
    position: relative;
    bottom: 26px;
    right: 6px;
    width: 300px;
  display: block;

}


.div11 a{
    position: relative;
    top: 39px;
    
font-size: 20px;
font-weight: 100;
text-decoration: none;
color: var(--bg-color);
}

.div11 p {
    color: var(--black);
    font-size: 20px;
    position: relative;
    left: 175px;
    z-index: 200;
    top: 22px;
    font-weight: 20px;
  transform: translate(-50%, -50%);
}


.div111 img{
    
    width: 260px;
    position: relative;
    left: 54px;

}

.div555 img{
    position: relative;
    right: 50px;
    width: 100px;

}
#r1{
    position: relative;
    left: 70px ;


}
#r2{

    position: relative;
    right:45px ;
}

#r3{

    position: relative;
    left:27px ;
}


