:root {
  --bg-color: #EFF4FA;
  --text-color:#1D293F;
  --card-color: #E0E8F5;
  --first:#45B1F8;
  --secound:#2643D1;
  --black:#1D293F;
  --one:#2643D1;
  --two:#45B1F8;
  --ph:url(imgs/BG-01.png);
  --cy:#1d293f55;
}
.dark-mode {
  --bg-color: #1D293F;
  --text-color:#EFF4FA;
  --card-color: #1D293F;
  --first:#2643D1;
  --secound:#45B1F8;
    --one:#2643D1;
  --two:#45B1F8;
  --black:#1D293F;
  --ph:url(imgs/BG-02.png);
  --cy:#eff4fa6a;
}







#clickEffect {
    position: fixed;
    width: 150px;
    pointer-events: none;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 99999;
}





.ripple {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: var(--cy);
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    animation: ripple 0.6s ease-out;
}

@keyframes ripple {
    to {
        transform: translate(-50%, -50%) scale(15);
        opacity: 0;
    }
}












/* عرض الاسكرول */
::-webkit-scrollbar {
  width: 10px;
}

/* الخلفية */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* شكل الاسكرول نفسه */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--text-color));
  border-radius: 20px;
}

/* عند الوقوف عليه */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,var(--text-color));
}








.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: 0.9s ease;
}


.reveal.active {
  opacity: 1;
  transform: translateY(0);
}






 #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background: var(--bg-color); /* ممكن تغير اللون */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }


  /* GIF حجم مناسب */
  #loader img {
    width: 500px; /* أو أي حجم تحبه */
    height: 500px;
  }

  /* بعد تحميل الصفحة */
  .hidden {
    display: none;
  }














*{
   pointer-events: auto;
  transition: .5s;
     font-family: 'Sora', sans-serif;
    font-weight: 200; /* ExtraLight */
    
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
}

html, body{
      scroll-behavior: smooth;
       font-family: 'Sora', sans-serif;
    overflow-x: hidden;
    background-color:var(--bg-color); 
}
html{
  background-color: var(--bg-color);
}
body{

  overflow: hidden;
  width: 100vw;

}
.home{
  margin:0px ;
  background-image: var(--ph);
  background-size: cover;      /* تملى الشاشة */
  background-position: center; /* في النص */
  background-repeat: no-repeat;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.nav{
  background-color: rgba(255, 255, 255, 0); /* أو أي لون للخلفية عشان يظهر فوق المحتوى */
  z-index: 999;     /* يفضل يظهر فوق أي عنصر تاني */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.nav img{
  margin-left:20px ;
width: 170px;
}

.nav ul{
  margin-right:20px ;
    list-style: none;
    display: flex;
    gap: 10px;
}
.nv a:hover,
.nv a.active { /* hover أو العنصر النشط */
  border-bottom: 2px solid var(--text-color);
}


.nv a{
    padding-bottom: 7px;
    font-family: 'Sora', sans-serif;
    font-weight: 200; /* ExtraLight */
  text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    color:var(--text-color);
}
.nv a:hover{
    padding-bottom: 7px;
    border-bottom: 1px solid var(--text-color);
      text-shadow: 1px 1px 1px var(--text-color) ,-1px -1px 1px var(--text-color) ,-1px 1px 1px var(--text-color) ,1px -1px 1px var(--text-color);

}





.lang{
  margin-top:20PX ;
    display: flex;
    width: 100%;

    

}
.lang ul{

    position: absolute;
    right: 13px;
    font-style: normal;
    list-style: none;
    display: flex;
    gap: 5px;
     padding-right: 10px;
    border-right: 1px solid var(--text-color);
}
.lang a{
  font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 100;

}
.lang a:hover{
    text-shadow: 1px 1px 1px var(--text-color) ,-1px -1px 1px var(--text-color) ,-1px 1px 1px var(--text-color) ,1px -1px 1px var(--text-color);
}

.p:hover{
  text-shadow: 1px 1px 1px var(--text-color) ,-1px -1px 1px var(--text-color) ,-1px 1px 1px var(--text-color) ,1px -1px 1px var(--text-color);
}

.ull{
  position: absolute;
  right: 77px;
  top:56px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 12px;

}
.ull .material-symbols-outlined{
    cursor: pointer;
    font-size: 22px;
      
      border-radius: 50%;
}
.ull #b1{font-size: 18px;
          color:var(--text-color);
      background-color: var(--text-color);
      border-bottom: 1px solid var(--text-color);
}
.ull .li{
    padding-bottom: 18px;  

}

.ull #b2{
    font-size: 25px;
          color:var(--text-color);
     font-weight: 100;
}




.text{
    margin-top: 300px;
    width: 100%;
    display: flex;
    flex-direction:column ;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.text p{
    font-size: 30px;
    word-spacing: .5px;
   font-family: 'Sora', sans-serif;
  font-weight: 100;   
  text-transform: uppercase;
  color: var(--text-color); 
}
.sp{
       font-family: 'Sora', sans-serif;
    display: flex;

}
.sp h1{
    color: var(--text-color);
       font-family: 'Sora', sans-serif;
    font-weight: 700;

}

svg {
    fill: var(--text-color); /* اللون الأساسي */
}









.text a{
    color: var(--text-color);
    text-decoration: none;
    cursor:pointer;
    font-size: 20px;
    font-weight: 300;

}




.bottom{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-right: 20px;
    margin-left: 20px;
}
.bottom p{
    color: var(--text-color);
    font-size: 12px;
}

.bottom img{
  position: relative;
  bottom: 10px;
    width: 70px;
}

/* ///////////////////////////////////////////// */





.work{
  overflow: hidden;
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 75px;
    margin-bottom: 
    100px;
}
.work .p1{
    color: var(--text-color);
    margin-top: 100px;
font-size: 30px;
font-weight: 600;
}
.imgs{
  overflow: hidden;
  margin-left: -37px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs img{
    margin-left: 5px;
    height: 500px;
    width: 363px;
}
.imgs .img div{
    display: flex;
    justify-content: space-between;
    margin: 10px;

}
.img div p{
    color: var(--text-color);
}

.img-box {
    display: flex;
  position: relative;
  width: 300px; /* عدل حسب الصورة */
}
.img-box img {
  width: 100%;
  display: block;

}
.img-box a{
text-decoration: none;

}

.img-box p {
    color: var(--black);
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.img-box p:hover{
  text-shadow: 1px 1px 1px var(--text-color) ,-1px -1px 1px var(--text-color) ,-1px 1px 1px var(--text-color) ,1px -1px 1px var(--text-color);

}

.img-box svg{
    fill: #1D293F;
position: absolute;
left: 180px;
top: 5px;
}









.marquee-track {
  
  display: flex;
  animation: marqueeScroll 80s linear infinite alternate;
  white-space: nowrap;
}

.imgs {
  overflow: hidden; /* نخفي الفائض */
  width: 100%;
}
.img {
  flex: 0 0 auto; /* يمنع تقلص الصورة */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 363px; /* نفس عرض الصور عندك */
  margin-left: 5px;
  transition: all 0.4s ease;
  opacity: 0.9;
}
.img div{
    width: 100%;
    display: flex;
    gap: 80px;
    justify-content: center;

}


.img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* Hover لإيقاف الحركة عند الوقوف على الشريط */
.imgs:hover .marquee-track {
  animation-play-state: paused;
}

/* الأنيميشن الرئيسي */
@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(80%);
  }
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(80%);
  }
}






/* Responsive */
@media (max-width: 768px) {
  .img {
    min-width: 250px;
  }
}





/* 

--------------------------------------------
 */


.aboute{
  overflow: hidden;
  width: 100%;
     font-family: 'Sora', sans-serif;
    margin-left: 75px;
    display: flex;
    gap: 200px;
    background-color: var(--bg-color);
}
.aboute .text{
  margin-left: 110px;
 font-family: 'Sora', sans-serif;
    position: relative;
    bottom: 80px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;   
  text-transform: uppercase;
    width: 40%;
    display: flex;
    gap: 50px;
    flex-direction: column;
}
.aboute p{
     font-family: 'Sora', sans-serif;
        font-size: 24px;
          font-family: 'Raleway', sans-serif;
  font-weight: 500;   
  text-transform: lowercase;

}


.hero p{font-family: 'Sora', sans-serif;}



.text2{
     font-family: 'Sora', sans-serif;

    display: flex;
    flex-direction: column;
    gap: 30px;

}
.text2 h1{
     font-family: 'Sora', sans-serif;
    position: relative;
    right: 102px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0;
    width: 350px;
color: var(--secound);}

.text2 .p2 span{
     font-family: 'Sora', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.text2 .p2{
     font-family: 'Sora', sans-serif;
    position: relative;
    right: 102px;
    width: 500px;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
  letter-spacing: .2px;
  word-spacing: .5px;
}


.text2 .p3{
     font-family: 'Sora', sans-serif;
    position: relative;
    right: 102px;
    width: 500px;
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
}




.abouteimg{

    position: relative;
    right: 70px;
    width: 60%;
}




.text .hero {
    position: relative;
    right: 160px;
margin: 0;
padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.hero h1 {
  font-size: 25px;
  font-weight: 500;
  
  color: var(--text-color);
  margin-bottom: 7px;
}

.hero .highlight {
  color:var(--secound);
}

.hero .line {
display: block;
  width: 280px;
  height: 25px;
  background: linear-gradient(to right,var(--one) ,var(--two) , rgba(255, 255, 255, 0)  );
  margin-bottom: 16px;
}

.hero p {position: relative;
        width: 400px;
    bottom: 40px;
  font-size: 18px;
  left: 200px;
  line-height: 1.4;
  margin: 0;
  color: var(--text-color);
  font-weight: 500;
}

.hero p .blu {
  color: var(--secound);
  font-weight: 500;
}

/* 
=-=-=--=-=-=----------------=-=-=
*/


* {
  box-sizing: border-box;
  font-family: 'sona', sans-serif;
}

.services {
          font-family: 'sona', sans-serif;
  font-weight: 300;   
  padding: 80px;
  background: var(--bg-color);
  color: var(--text-color);
}
.service-header span{
  color: var(--text-color);
}

.title {
    color: var(--text-color);
  font-size: 32px;
  margin-bottom: 50px;
}

.services-grid {
    color: var(--text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 80px;
}

.service-item {
  border-bottom: 1px solid    var(--text-color);
  padding-bottom: 15px;
}

.service-header {
  width: 100%;
  background: none;
  border: none;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.arrow {
  transition: transform 0.3s ease;
}

.service-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.service-content p {
  margin: 15px 0 0;
  color: var(--text-color);
  line-height: 1.6;
}

/* Active State */
.service-item.active .service-content {
  max-height: 200px;
}

.service-item.active .arrow {
  transform: rotate(180deg);
}

/* Responsive */
@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}
.services-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.services-col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}



.photo{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

/* ------------------------------------ */

.contact{
    height: 70vh;
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    gap: 150px;


}
.contact p{
        font-family: 'sona', sans-serif;
  font-weight: 300;   
  text-transform: uppercase;
  color: var(--text-color);
    font-size: 12px;
    color: var(--text-color);

}

.contact h1{
    color: var(--text-color);

    font-family: 'sona', sans-serif;
  font-weight: 800;   
  text-transform: uppercase;
    font-size: 26px;
    word-spacing: 0px;
}

.div1{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}


.div2{    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

.div11{
  width: 30%;
}
.first{

  display: flex;
  justify-content: center;
  width: 70%;
  gap: 180px;

}


.div111{
  width: 30%;
}
.secound{

  display: flex;
  justify-content: center;
  width: 70%;
  gap: 100px;

}



.div55 img{
    position: relative;
    top: -11px;
    width: 100px;
  display: block;

}

.div55 a{
    position: relative;
    top: 9px;
    
font-size: 20px;
font-weight: 100;
text-decoration: none;
color: var(--text-color);
}

.div55 p {
    color: var(--black);
    
    position: relative;
    left: 80px;
    z-index: 200;
    font-size: 20px;
    top: 40px;
    font-weight: 20px;
  transform: translate(-50%, -50%);
}




.div11 img{
    background-color:var(--card-color);
    position: relative;
    bottom: 26px;
    right: 6px;
    width: 300px;
  display: block;

}


.div11 a{
    position: relative;
    top: 39px;
    
font-size: 20px;
font-weight: 100;
text-decoration: none;
color: var(--bg-color);
}

.div11 p {
    color: var(--black);
    font-size: 20px;
    position: relative;
    left: 235px;
    z-index: 200;
    top: 22px;
    font-weight: 20px;
  transform: translate(-50%, -50%);
}


.div111 img{
  position: relative;
  bottom: 40px;
  right: 27px;
  margin-left: 40px;
  width: 300px;


}

.div555 img{
  position: relative;
  bottom: 50px;
  opacity: 1;


    width: 100px;

}

#r3{
  position: relative;
  left: 70px;
}


@media (max-width: 768px){
  body{
    overflow: hidden;
  }
  
  .home{
    overflow: hidden;
    width: 100%;

  }
  .home .nav{
    gap: 0px;
  }
.sp{
  font-size: 14px;
}
  .ull #b1{font-size: 15px;
          color:var(--text-color);
      background-color: var(--text-color);}
        .ull #b2{font-size: 15px;
          color:var(--text-color);}

.work{
  overflow: hidden;
}

          .aboute{
            overflow: hidden;
            width: 100%;
            display: flex;
          }
          .aboute .text{
            position: relative;
            bottom: 150px;
            left: 77px;
            margin-left:250px ;
            width: 9%;
          }
          .nav a{
            font-size: 14px;
          }
          .aboute .text h1{
            font-size: 18px;
          }
    
          .aboute .text p{
            font-size: 14px;
          }

          .text2 h1{
            width: 55%;
          }

          .aboute img{
            position: absolute;
            left: 400px;
            width: 48%;
          }



          .service h1{
            font-size: 22px;
          }
          .sir{
            font-size: 15px;
            margin-left: 40px;
            
          }

          .s h2{
            font-size: 15px;
          }



          .contact p{
            font-size: 14px;
          }
          .contact h1{
            font-size: 20px;
          }
          .div11 h1{
            position: relative;
            left: 40px;
          }
       
          .div11 img{
            position: relative;
            left: 40px;
            top:  -10px;
            width: 195px;
          }


          .div1 .div11{
            position: relative;
            right: 40px;
          }



}